
p {
    font-family: verdana, arial, helvetica, san-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: boder-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: #grey;
}
 
 
 
  
  
